{% extends 'base.html' %}

{% block content %}
<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="empty">
            <div class="empty-img"><img src="./src/images/undraw_Lost_re_xqjt.svg" height="128"
                    alt="">
            </div>
            <p class="empty-title">You're not allowed to go there.</p>
            <p class="empty-subtitle text-muted">
                You do not have permission, to visit that page or do that action.
            </p>
            <div class="empty-action">
                <a href="/" class="btn btn-primary">
                    Go to dashboard
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}