{% extends "base.html" %}

{% block title %}events{% endblock title %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">
                      Events
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="page-body">
            <div class="card card-active">
                <div class="card-body">
                    <h3 class="card-title">There's an active event going, at this very moment!</h3>
                    There's currently a beatmap event going on, on ainu.<br>
                    The beatmap the event is going on is: <a href="https://osu.ppy.sh/beatmapsets/1083001#osu/2265282">Futaba Rio (CV: Tanezaki Atsumi) - Fukashigi no Karte (TV Size)</a>
                </div>
            </div>
            <div class="card">
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}