{% extends "base.html" %}
{% block title %} dashboard {% endblock title %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        <div class="page-header d-print-none">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">
                      Dashboard
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}