{% extends "base.html" %}
{% block title %}login{% endblock title %}

{% block content %}
<div class="page page-center nicht-overflow">
    <div class="container-tight py-4">
        <form class="card card-md" action="/submit/login" method="POST" autocomplete="on">
            <div class="card-body">
                <span class="card-title text-center mb-4">
                    <img src="/src/images/poggers.gif">
                    made by simon lolololol 
                </span>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="user" placeholder="Enter username" autocomplete="on">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                    </label>
                    <input type="password" class="form-control" name="pwd" placeholder="Password" autocomplete="on">
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}